//colors
$color-txt: #757676;
$color-txt-1: #c0b2fc;
$color-txt-2: #6146d7;
$color-txt-3: #212b36;
$color-txt-claro: #fff;
$color-txt-claro-2: #c4bebe;

$bg-site: #27253f;
$bg-site-2: #2d2a48;
$bg-site-claro: #f6f2fe;

$bg-btn: #6146d7;
$bg-btn-carousel: #e8e2f3;

$color-sec-1: #7d5bbe;

$font-size: 10px;
$font-main: "Fjalla One", sans-serif;
$font-sec: "Open Sans", sans-serif;
